<div id="logo-container" class="d-none d-md-block" title="Tecgames" role="button">
  <div id="logo-border">
    <div id="logo-button">
      <figure class="h-100 w-100">
        <img [src]="logotype" alt="Logotipo de Tecgames" class="w-100"/>
      </figure>
    </div>
  </div>
</div>

<div id="logo-sm-container" class="d-block d-md-none" title="Tecgames" role="button">
  <div id="logo-sm-border">
    <div id="logo-sm-button">
      <figure class="h-100 w-100">
        <img [src]="logotype" alt="Logotipo de Tecgames" class="w-100"/>
      </figure>
    </div>
  </div>
</div>
