<h3>{{game?.title?.external}} ({{gameID}})</h3>

<div class="wrapper row">
  <div class="col-md-4">
    <figure>
      <img [src]="game?.thumb" alt="" class="w-100">
    </figure>
  </div>
  <div class="col-md-8">
    <h2>About {{game?.title?.external}}</h2>
    <table>
      <tbody>
        <tr>
          <td>
            <strong>Game ID:</strong>
          </td>
          <td>{{gameID}}</td>
        </tr>
        <tr>
          <td>
            <strong>Steam App ID:</strong>
          </td>
          <td>{{game?.steamAppID || 'N/A'}}</td>
        </tr>
        <tr>
          <td>
            <strong>Name:</strong>
          </td>
          <td>{{game?.title?.external}}</td>
        </tr>
        <tr>
          <td>
            <strong>Lowest Price</strong>
          </td>
          <td>{{game?.cheapest | currency:'USD'}}</td>
        </tr>
        <tr>
          <td>
            <strong>Price Date</strong>
          </td>
          <td>{{game?.cheapestDate | date:'longDate':undefined:'en-US'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <hr>
    <h2>Deals</h2>

    <div class="row">
      <app-deal
        class="col-sm-6 col-md-4 col-lg-3"
        *ngFor="let deal of game?.dealers"
        [retail]="deal.retailPrice"
        [saving]="deal.savings"
        [price]="deal.price"
        [storeID]="deal.storeID"
      ></app-deal>
    </div>

    <div class="text-center">
      <a role="button" class="btn btn-primary" routerLink="/games/home">Back</a>
    </div>
    <br>
  </div>

</div>
